.gradient{
    -fx-background-color: linear-gradient(to bottom right,#eee5e6, #29190e);
}

.white-form{
    -fx-background-color: #fff;
}

.head-label{
    -fx-border-color: #29190e;
    -fx-border-width: 0 0 0 3px;
    -fx-padding: 0 0 0 5px;
}

.login-btn{
    -fx-background-color: linear-gradient(to bottom right, #eee5e6, #29190e);
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}

.login-btn:hover{
    -fx-background-color: #29190e
}

.textfield{
    -fx-background-color: transparent;
    -fx-border-width: .5px;
    -fx-border-color: linear-gradient(to bottom right, #eee5e6, #29190e);
}

.textfield:focused{
    -fx-border-width: 1px;
}

.create-btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-border-width: 1px;
    -fx-border-color: #fff;
}

.create-btn:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}
